body{
    
    background : url(assets/rm222-mind-31.jpg) ;
    background-size: cover;
} 

    .button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

